# Ansible-managed CNTLM config
Username    {{ cntlm_username }}
{% if cntlm_domain | default('') %}Domain      {{ cntlm_domain }}
{% endif %}
{% if cntlm_pass_ntlmv2 | default('') %}
PassNTLMv2  {{ cntlm_pass_ntlmv2 }}
{% elif cntlm_password | default('') %}
Password    {{ cntlm_password }}
{% endif %}

{% if cntlm_listen_host | default('') %}
Listen      {{ cntlm_listen_host }}:{{ cntlm_listen_port }}
{% else %}
Listen      {{ cntlm_listen_port }}
{% endif %}

Proxy       {{ cntlm_upstream_host }}:{{ cntlm_upstream_port }}
{# NoProxy: accepte soit une string brute, soit une liste #}
{% set np = cntlm_no_proxy | default([]) %}
{% if np is string and np | trim %}
NoProxy     {{ np | trim }}
{% elif np is sequence and (np | length > 0) %}
NoProxy     {{ np | join(', ') }}
{% endif %}

{% for line in (cntlm_extra_options | default([])) %}
{{ line }}
{% endfor %}
