[Unit]
Description=Cntlm NTLM/NTLMv2 authenticating HTTP proxy
After=network.target

[Service]
ExecStart={{ cntlm_bin_path }} -c {{ cntlm_conf_path }} -v
Restart=always

[Install]
WantedBy=multi-user.target
